body{
    background-color: lightcyan;
    text-align: center;

}
div{
    margin-top: 15px;
    
}
.image-section{
    display:flex;
    justify-content: center;
    
}
.section-style{
    margin-right: 25px;
    margin-left: 45px;

}
p{
    color: magenta;
   border-color:palevioletred;
}

